<div class="jumbotron" style="margin: center">
  <h1>Pages#index</h1>
	<p>Find me in app/views/pages/index.html.erb</p>
	<p>Hola Erick</p>
  	<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>


<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<p>Hola Erick</p>



<a href="http://www.google.com" target="_blank" > Link a google </a>

<hr> 

<ul class="enlarge">
<li><img src="http://flickholdr.com/200/300/sun" width="150px" height="100px" alt="Dechairs" /><span><img src="http://flickholdr.com/200/300/sun" alt="Deckchairs" /><br />Deckchairs on Blackpool beach</span></li>
<li><img src="http://flickholdr.com/200/300/sun" width="150px" height="100px" alt="Blackpool sunset" /><span><img src="http://flickholdr.com/200/300/sun" alt="Blackpool sunset" /><br />Sunset over the Irish Sea at Blackpool</span></li>
<li><img src="http://flickholdr.com/200/300/sun" width="150px" height="100px" alt="Blackpool pier" /><span><img src="http://flickholdr.com/200/300/sun" width="300px" height="450px" alt="Blackpool pier" /><br />Rolling waves off Blackpool North Pier</span></li>
</ul>


<img src="http://flickholdr.com/200/300"></img>
<img src="/assets/retrato.jpg"></img>
<img src="http://flickholdr.com/200/300/sun"></img>

<%= image_tag "retrato.jpg" %>

<br><br><br><br>

<button> <a href="http://www.google.com">Entrar </a></button>
